@font-face {
    font-family: 'AltFont';
    src: url('../fonts/neutra-text-alt-587261020eccb.otf') format('opentype');
}

@font-face {
    font-family: 'BoldFont';
    src: url('../fonts/neutra-text-bold-5871e1605afa2.otf') format('opentype');
}

@font-face {
    font-family: 'LightFont';
    src: url('../fonts/neutra-text-light-5872613aeda5b.otf') format('opentype');
}

.boldtext {
    font-family: 'BoldFont', sans-serif;
}

.alttext {
    font-family: 'AltFont', sans-serif;
}

.lighttext {
    font-family: 'LightFont', sans-serif;
}

.music-links {
    text-align: center;
    margin-top: 20px;
}

.title {
    font-family: 'BoldFont', sans-serif;
    font-size: 30px;
}

.music-link {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.container {
    /*background-image: url("../img/bj-cover.jpg");*/
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    background-repeat: no-repeat;
    height: 1100px;
    padding-left: 0;
    padding-right: 0;
}

.bbj-slide {
    margin-top: 10px;
    margin-bottom: 20px;
}

.bbj-slide-title {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.titlepage-image {
    width: 300px;
    height: 50px;
}

img.song-title-image {
    max-width: 100%;
    height: auto;
}

.song-author {
    font-family: 'LightFont', sans-serif;
}

.song-text {
    font-family: 'BoldFont', sans-serif;
}

.song-lyrics {
    font-family: 'AltFont', sans-serif;
}

.song-credits {
    font-family: 'LightFont', sans-serif;
}

.song-lyrics p,
.song-credits p {
    margin-bottom: 0;
}


.portraits {
    margin-right: 0;
    margin-left: 0;
}

img.portrait-image {
    max-width: 100%;
    height: auto;
}

img.portrait-text {
    max-width: 100%;
    height: auto;
}


.instrument-title {
    margin-top: 20px;
}

img.instrument-image {
    max-width: 100%;
    height: auto;
}

.instrument-name {
    font-family: 'BoldFont', sans-serif;
}

.instrument-description {
    font-size: 12px;
    font-family: 'LightFont', sans-serif;
}

@media only screen and (max-width: 600px) {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }

.footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer-link {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar {
    background-color: #577397 !important;
}
